

<%= nested_form_for @project do |f| %>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <h3 class="card-header">Cover Photo</h3>
        <div class="card-body profile-card-body">
          <div class="card profile-photo">
            <!-- =================NEEDS TO BE COMPLETED================= -->
            <img class="card-img-top img-fluid" src="//placehold.it/200x200" alt="Card image cap">
            <!-- ======================================================= -->
          </div><br>
          <a href="#" class="btn btn-primary btn-block"><i class="material-icons md-light">add_a_photo</i> Upload a photo</a>
        </div>
      </div><!-- card -->
    </div><!-- col-md-4 -->
    
      <div class="col-md-8">
          <% if project.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
        
              <ul>
              <% project.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
        <div class="card" style="height:100%;">
          <h3 class="card-header">Project Summary</h3>
          <div class="card-body profile-card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.label :project_name %>
                  <%= f.text_field :project_name, id: :project_project_name, class: "form-control" %>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.label :project_difficulty %>
                  <% options = options_from_collection_for_select(@difficulty_list, 'id', 'level') %>
                  <%= f.select :project_difficulty, options, {}, class: "form-control" %>
                </div>
              </div>
            </div><!-- row -->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <%= f.label :project_description %>
                  <%= f.text_area :project_description, id: :project_project_description, class: "form-control", rows: "7" %>
                </div>
              </div>
            </div>
          </div><!-- card-body -->
        </div><!-- card --><br>
      </div><!-- col-md-8 -->
  </div><!-- row --><br>

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <h3 class="card-header">Project Materials</h3>
        <div class="card-body profile-card-body">
          <p>List the materials and tools required to build this project.</p>
          
            <%= f.fields_for :materials do |materials_form| %>
              <div class="form-row">
                <div class="form-group col-md-3">
                  <%= materials_form.label :material %>
                  <%= materials_form.text_field :material, class: "form-control", placeholder: "'8 ft 2x4', '3/4 in plywood'" %>
                </div>
                <div class="form-group col-md-3">
                  <%= materials_form.label :matl_type, "Material Type" %>
                  
                  <% options = options_from_collection_for_select(@materials_list, 'id', 'matl_type') %>
                  <%= materials_form.select :matl_type, options, {}, class: "form-control" %>
                </div>
                <div class="form-group col-md-1">
                  <%= materials_form.label :qty %>
                  <%= materials_form.text_field :qty, class: "form-control" %>
                </div>
                <div class="form-group col-md-4">
                  <%= materials_form.label :notes %>
                  <%= materials_form.text_field :notes, class: "form-control" %>
                </div>
                <div class="form-group col-md-1">
                  <%= materials_form.label " " %>
                  <%= materials_form.link_to_remove '<i class="fa fa-times" aria-hidden="true"></i>'.html_safe, style: "color:red;" %>
                </div>
              </div><!-- form-row -->
            <% end %>
            <p><%= f.link_to_add '<i class="fa fa-plus" aria-hidden="true"></i> Add a material'.html_safe, :materials, class: "btn btn-success" %></p>
        </div>
      </div><!-- card --><br>
      <div class="card">
        <h3 class="card-header">Project Details</h3>
        <div class="card-body profile-card-body">
          <div class="form-group col-md-12">
            <%= f.label :instructions, "Add instructions or details necessary for completing this project.
                  Format the text the way you want it displayed on the project's page." %>
            <%= f.text_area :instructions, id:"summernote" %>
          </div>
        </div><!-- card-body -->
      </div><!-- card -->
    </div>
  </div><!-- row --><br>
  <%= f.submit class: "btn btn-primary float-right" %>
  <%= link_to "Back", :back, class: "btn btn-secondary float-right", style: "margin-right:5px;" %>
<% end %>

<script type="text/javascript">
    $('#summernote').summernote({
      minHeight: 500,
      toolbar: [
          ['style',['bold','italic','underline']],
          ['font',['strikethrough', 'superscript', 'subscript']],
          ['fontsize', ['fontsize']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['height', ['height']]
        ]
    });
</script>