<div class="row">
  <div class="col-md-3">
    <div class="card profile-photo">
      <!-- =================NEEDS TO BE COMPLETED================= -->
      <img class="card-img-top img-fluid" src="//placehold.it/200x200" alt="Card image cap">
      <!-- ======================================================= -->
    </div><br>
    <div class="card">
      <h4 class="card-header">Vitals</h4>
      <div class="card-body profile-card-body">
        <p><strong>Creator: </strong><%= link_to @creator.profile.name, profile_path(@creator) %></p>
        <p><strong>Downloads: </strong>297</p>
        <p><strong>Average Rating: </strong>4.7 / 5</p>
        <a href="#" class="btn btn-primary btn-block">Download Plans</a>
      </div>
    </div><br>
    
    <div class="card">
      <h4 class="card-header">Share</h3>
      <div class="card-body profile-card-body">
        <% if @iscreator %>
          IS CREATOR
        <% end %>
      </div>
    </div><!-- card -->
  </div><!-- col-md-3 -->
  
  
  <div class="col-md-9">
    
    <!-- ================= DETAILS ================= -->
    <!-- ================= DETAILS ================= -->
    <!-- ================= DETAILS ================= -->
    <div class="card">
      <h4 class="card-header"><%= @project.project_name %>
        <% unless current_user.nil? || @project.user_id != current_user.id %>
          <span class="float-right"><%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, 
                      project_path(@project), method: :delete, class:"edit-style" %></span>
          <span class="float-right"><%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, 
                      edit_project_path(@project), class:"edit-style" %></span>
        <% end %>
      </h4>
      <div class="card-body profile-card-body">
        <div class="row">
          <div class="col-sm-12">
            <h5>Difficulty: <%= DifficultyLevel.find(@project.project_difficulty).level %> </h5>
          </div>
        </div><!-- row --><br>
        <div class="row">
          <div class="col-sm-12">
            <p><strong>Description: </strong> <%= @project.project_description %></p>
          </div>
        </div><br>
        <% unless @project.youtube_link.nil? %>
          <div class="videoWrapper">
              <iframe width="100%" height="444" src="<%= "https://www.youtube.com/embed/" + @project.youtube_id.to_s %>" frameborder="0" allowfullscreen class="youtube-centered"></iframe>
          </div><br>
        <% end %>
      </div><!-- card-body -->
    </div><!-- card --><br>
    
    <!-- ================= MATERIALS ================= -->
    <!-- ================= MATERIALS ================= -->
    <!-- ================= MATERIALS ================= -->
    <div class="card">
      <h4 class="card-header">Materials</h4>
      <div class="card-body profile-card-body">
        <table class="table table-hover">
          <% @materials.each do |m| %>
            <tr>
              <td><%= m.material %></td>
              <td><%= MaterialType.find(m.matl_type).matl_type %></td>
              <td><%= m.qty %></td>
              <td><%= m.notes %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div><!-- card --><br>
    
    <!-- ================= INSTRUCTIONS ================= -->
    <!-- ================= INSTRUCTIONS ================= -->
    <!-- ================= INSTRUCTIONS ================= -->
    <% unless @project.instructions.nil? %>
      <div class="card">
        <h4 class="card-header">Project Details</h3>
        <div class="card-body profile-card-body">
          <div>
            <%= @project.instructions.html_safe %>
          </div>
        </div>
      </div><!-- card --><br>
    <% end %>
    
    <!-- ================= COMMENTS ================= -->
    <!-- ================= COMMENTS ================= -->
    <!-- ================= COMMENTS ================= -->
    <div class="card">
      <h4 class="card-header">Comments</h3>
      <div class="card-body profile-card-body">
      </div>
    </div><!-- card -->
  </div><!-- col-md-9 -->
</div><!-- row --><br>






